* {
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box {
    flex: 1;
    background-color: rgb(128, 128, 128);
    /* border: 1px, blue, solid; */
    opacity: 0;
}

